.container
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      width: 100%
      background: #f9f9f9
      min-height: 100vh

      .main
            width: 100%
            max-width: 1200px
            position: relative
            z-index: 1
            //background: #eee
            //padding: 20px
            display: flex
            gap: 0 20px
            justify-content: center
            align-items: flex-start
            box-sizing: border-box
            .wrapper, .right
                  opacity: .5
                  &:hover
                        opacity: 1
            .left

                  height: 100vh
                  display: flex
                  flex-direction: column
                  align-items: center
                  justify-content: center
                  .wrapper
                        position: sticky
                        top: 20px
                        background: #ddd
                        width: 500px
                        max-width: 500px
                        min-width: 500px
                        height: min-content
                        display: flex
                        flex-direction: column
                        align-items: center
            .right
                  background: #ccc
                  width: calc(100% - 500px)

.background_image
      position: fixed
      z-index: 0
      width: 100vw
      height: 100vh
      object-fit: cover

.infos
      position: fixed
      right: 4px
      top: 4px
      z-index: 2
      display: flex
      flex-direction: column
      align-items: flex-end
      gap: 4px
      &>*
            border-radius: 5px
            padding: 4px
            background: white
            opacity: 0.333
            width: fit-content
            &:hover
                  opacity: 1
