.player
    background: #ccc
    display: flex
    flex-direction: column
    padding: 20px
    box-sizing: border-box
    &_screen
        background: pink
        &_songTimer
            width: 100%
            display: block
            padding: 10px
            background: #fff
        &_songInfo
            display: block
            padding: 10px

    &_controls
        background: white
        display: flex
        flex-wrap: wrap
        flex-direction: row
        gap: 10px 10px
        padding: 10px
        box-sizing: border-box

        &_progressbar
            width: 100%

        span
            padding: 5px
            border-radius: 5px
            font-size: 0
            display: block
            width: 40px
            height: 30px
            &:hover
                cursor: pointer
                background-color: #f9f9f9


        &_prev
            background: url(/icons/icons-prev.svg) no-repeat scroll center center transparent
            background-size: cover
        &_next
            background: url(/icons/icons-next.svg) no-repeat scroll center center transparent
            background-size: cover
        &_pause
            background: url(/icons/icons-pause.svg) no-repeat scroll center center transparent
            background-size: cover
        &_stop
            background: url(/icons/icons-stop.svg) no-repeat scroll center center transparent
            background-size: cover
        &_play
            background: url(/icons/icons-play.svg) no-repeat scroll center center transparent
            background-size: cover
        &_progress
            width: 100%
        &_shuffle
            background: url(/icons/icons-shuffle.svg) no-repeat scroll center center #FFF
            background-size: cover
        &_repeat
            background: url(/icons/icons-repeat.svg) no-repeat scroll center center #FFF
            background-size: cover

        &_shuffle,
        &_repeat
            &:active,
            &.on
                background-color: #fff
                filter: invert(100%)
        &_volume
            //background: pink
            justify-content: center
            align-items: center
            display: flex
            width: 90px !important
            .slider
                width: 100%
                border: none
                box-sizing: border-box
                background: #eee
                &::-webkit-slider-thumb
                    -webkit-appearance: none
                    appearance: none
                    width: 15px
                    height: 15px
                    border-radius: 5px
                    background: #ccc
                    cursor: pointer

                &::-moz-range-thumb
                    width: 15px
                    height: 15px
                    border-radius: 5px
                    background: #ccc
                    cursor: pointer
            &:hover
                background-color: transparent !important
            &:active
                .slider
                    background: #000
                    &::-webkit-slider-thumb,
                    &::-moz-range-thumb
                        background: #000

.icon
    width: 45px
    height: 30px
    border: 1px solid #ccc
    padding: 5px
    cursor: pointer

.slider
    -webkit-appearance: none
    width: 100%
    height: 15px
    border-radius: 5px
    background: #eee
    outline: none
    opacity: 0.7
    -webkit-transition: .2s
    transition: opacity .2s
    &::-webkit-slider-thumb
        -webkit-appearance: none
        appearance: none
        width: 35px
        height: 20px
        border-radius: 5px
        background: #ddd
        cursor: pointer

    &::-moz-range-thumb
        width: 35px
        height: 20px
        border-radius: 5px
        background: #ddd
        cursor: pointer
