.player
    background: #ccc
    display: flex
    flex-direction: column
    padding: 20px
    box-sizing: border-box
    &_screen
        background: pink
        &_songTimer
            width: 100%
            display: block
            padding: 10px
            background: #fff
        &_songInfo
            display: block
            padding: 10px

    &_controls
        background: white
        display: flex
        flex-wrap: wrap
        flex-direction: row
        gap: 10px 10px
        padding: 10px
        box-sizing: border-box

        span
            padding: 5px
            //border: 1px solid #ccc
            font-size: 0
            display: block
            width: 45px
            height: 30px
            &:hover
                cursor: pointer
        &_prev
            background: url(../icons-prev.svg) no-repeat scroll center center transparent
            background-size: cover
        &_next
            background: url(../icons-next.svg) no-repeat scroll center center transparent
            background-size: cover
        &_pause
            background: url(../icons-pause.svg) no-repeat scroll center center transparent
            background-size: cover
        &_stop
            background: url(../icons-stop.svg) no-repeat scroll center center transparent
            background-size: cover
        &_play
            background: url(../icons-play.svg) no-repeat scroll center center transparent
            background-size: cover
        &_progress
            width: 100%

.icon
    width: 45px
    height: 30px
    border: 1px solid #ccc
    padding: 5px
    cursor: pointer
